.pauseButton {
    position: absolute;
    bottom: 10%;
    left: 37%;
    font-size: large;
    width: 100px;
}

.resumeButton {
    position: absolute;
    bottom: 10%;
    right: 37%;
    font-size: large;
    width: 100px;
}

.previousButton {
    position: absolute;
    bottom: 5%;
    left: 37%;
    font-size: large;
    width: 100px;
}

.nextButton {
    position: absolute;
    bottom: 5%;
    right: 37%;
    font-size: large;
    width: 100px;
}

.startButton {
    position: absolute;
    bottom: 37%;
    left: 47.5%;
    font-size: large;
    width: 200px;
}

.input {
    position: absolute;
    display: block;
    bottom: 32%;
    left: 47.5%;
    font-size: large;
    width: 200px;
}


/*.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
     width="1810" height=auto
    z-index: 0
}*/

.image {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 90%;
    max-height: 100vh;
    margin: auto;
}