.pauseButton {
    position: absolute;
    top: 850px;
    left: 750px;
    font-size: large;
    width: 100px;
}

.resumeButton {
    position: absolute;
    top: 850px;
    left: 1200px;
    font-size: large;
    width: 100px;
}

.startButton {
    position: absolute;
    top: 600px;
    left: 975px;
    font-size: large;
    width: 100px;
}

/*.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
     width="1810" height=auto
    z-index: 0
}*/

.image {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}